header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 10%;
    font-size: 1.4rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1.5rem;
    }

    .logo__container {
        margin-right: auto;

        h1>a {
            text-decoration: none;
            color: $color-dark-black;
        }

        span {
            color: $color-pink;
            font-size: 3.2rem;
        }

        .logo {
            cursor: pointer;
            width: 4rem;
        }
    }

    .nav__links {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;

        @include media-breakpoint-down(md){
            z-index: 999;
            position: fixed;
            left: -100%;
            top: 5rem;
            flex-direction: column !important;
            background-color: #fff;
            width: 100%;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
        }

        &.active {
            @include media-breakpoint-down(md){
                left: 0;
            }
        }

        li {
            display: inline-block;
            padding: 0rem 1.6rem;
            text-align: center;

            @include media-breakpoint-down(md){
                margin: 2rem 0;
            }

            a {
                transition: all 0.3s ease 0s;
                color: $color-light-gray3;
                text-decoration: none;

                &:hover {
                    color: $color-pink;
                }
            }

            .button__primary {
                color: white;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .hamburger {
        display: none;

        &.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        &.active .bar:nth-child(1) {
            transform: translateY(6px) rotate(45deg);
        }
    
        &.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        @include media-breakpoint-down(md){
            display: block;
        }

        .bar {
            display: block;
            width: 2.2rem;
            height: .2rem;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: #101010;
        }
    }

}